<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EJS Is Fun</title>

    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body { padding-top:50px; }
    </style>
</head>
<body class="container">
    <main>
        <h1>PROYECTO LM</h1>
            <form action="/register" method="post">
                Name : <input type="text" name="name" value="" /><br><br>
                Surname : <input type="text" name="surname" value="" /><br><br>
                Username: <input type="text" name="username" value="" /><br><br>
                Password: <input type="password" name="password" value="" /><br><br>
                ConfPassword : <input type="password" name="confPassword" value="" /><br><br>
                <input type="submit" value="Register"/><br><br><hr>
            </form>
            <form action="/getUsers" method="post">
                <input type="submit" value="Usuarios"/><br><br><hr>
            </form>
    </main>
    <footer>
        <p class="text-center text-muted">© Copyright 2023</p>
    </footer>
</body>
</html>