<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EJS Is Fun</title>

    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body { padding-top:50px; }
    </style>
</head>
<body class="container">
    <main>
        <h1>PROYECTO LM</h1>
        <div class="form" action="">
            <p>Nombre: <input type="text"></p>
            <p>Apellidos: <input type="text"</p>
            <p>Correo: <input type="mail"></p>
            <p>Contraseña: <input type="password"></p>
            <input type="submit" value="Login"/><br><br>
        </div>
    </main>
    <footer>
        <p class="text-center text-muted">© Copyright 2023</p>
    </footer>
</body>
</html>