<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>APLICATION PLENA INCLUSION</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body { padding-top:50px; }
    </style>
</head>
<body class="container">
    <main>
        <h1>APLICATION PLENA INCLUSION</h1>
        <form action="/registerCustomer" method="post">
            DNI : <input type="text" name="DNI" value="" /><br><br>
            name : <input type="text" name="name" value="" /><br><br>
            surname1 : <input type="text" name="surname1" value="" /><br><br>
            surname2 : <input type="text" name="surname2" value="" /><br><br>
            birthyear : <input type="date" name="birthyear" value=""/><br><br>
            mail : <input type="mail" name="mail" value=""/><br><br>
            gender : <input type="text" name="gender" value=""/><br><br>
            specialCare : <input type="checkbox" name="specialCares" value=""/><br><br>
            dataTutor : <input type="text" name="dataTutor" value=""/><br><br>
            <input type="submit" value="RegisterCustomer"/><br><br><hr>
        </form>

        <form action="/registerProfessional" method="post">
            DNI : <input type="text" name="DNI" value="" /><br><br>
            name : <input type="text" name="name" value="" /><br><br>
            surname1 : <input type="text" name="surname1" value="" /><br><br>
            surname2 : <input type="text" name="surname2" value="" /><br><br>
            birthyear : <input type="date" name="birthyear" value=""/><br><br>
            mail : <input type="mail" name="mail" value=""/><br><br>
            availability : <input type="checkbox" name="availability" value=""/><br><br>
            password: <input type="password" name="password" value="" /><br><br>
            confPassword : <input type="password" name="confPassword" value="" /><br><br>
            <input type="submit" value="registerProfessional"/><br><br><hr>
        </form>
        <h1>Login professional</h1>
            <form action="/loginProfessional" method="post">
                mail : <input type="mail" name="mail" value="" /><br><br>
                Password: <input type="password" name="password" value="" /><br><br>
                <input type="submit" value="Login"/><br><br><hr>
            </form>
            <form action="/getUsers" method="post">
                <input type="submit" value="Usuarios"/><br><br><hr>
            </form>
            <body>
                <h1>Add Model Activity</h1>
                <form action="/addModelActivity" method="post">
                    idUser : <input type="text" name="idUser" value="" /><br><br>
                    name :<input type="text" name="name" value=""><br><br>
                    description : <input type="text" name="description" value=""><br><br>
                    <input type="submit" value="Activity"/><br><br><hr>
                </form>
                <h1>Delete Model Activity</h1>
                <form action="/deleteModelActivity" method="post">
                    introduce el id de la actividad a eliminar: <input type="text" name="idActivity" value=""><br><br>
                    <input type="submit" value="Delete"/><br><br><hr>
                </form>
                <h1>Update Model Activity</h1>
                <form action="/updateModelActivity" method="post">
                    introduce el id de la actividad a modificar: <input type="text" name="idActivity" value=""><br><br>
                    idUser : <input type="text" name="idUser" value="" /><br><br>
                    name :<input type="text" name="name" value=""><br><br>
                    description : <input type="text" name="description" value=""><br><br>
                    <input type="submit" value="Delete"/><br><br><hr>
                </form>
                <form action="/getActivity" method="post">
                    <input type="submit" value="Activities"/><br><br><hr>
                </form>
                <h1>Add Activity</h1>
                <form action="/addActivity" method="post">
                    idUser : <input type="text" name="idUser" value="" /><br><br>
                    datetime :<input type="date" name="datetime" value=""><br><br>
                    idActivity : <input type="text" name="idActivity" value=""><br><br>
                    <input type="submit" value="Activity"/><br><br><hr>
                </form>
                <h1>Add Participans</h1>
                <form action="/addParticipants" method="post">
                    idUser : <input type="text" name="idUser" value="" /><br><br>
                    idRepetitiveActivity : <input type="text" name="idRepetitiveActivity" value=""><br><br>
                    <input type="submit" value="Activity"/><br><br><hr>
                </form>
                <h1>Eliminate user</h1>
            <form action="/deleteCustomer" method="post">
                idUser: <input type="text" name="idUser" value="" /><br><br>
                <input type="submit" value="Eliminar Cliente"><br><br><hr>
            </form>
            <form action="/getUsers" method="post">
                <input type="submit" value="Mostrar Usuarios"/><br><br><hr>
            </form>
            </body>
    </main>
    <footer>
        <p class="text-center text-muted">© Copyright 2023</p>
    </footer>
</body>
</html>